body{
    color: #000000;
    background-color: rgb(207, 226, 243);
    border: 2px solid black;
    min-width: 768px;
    font-size: 24px;
}
body ~ div{
    border: 1px solid grey;
}
.header{
    height: 150px;
    width: 100%;
    border: 2px solid black;
    overflow: hidden;
}
.head_image{
    display: inline-block;
    height: 150px;
    width: 150px;
    background-image: url(img/head_image_cr.jpg);
    background-size: cover;
    border-right: 2px solid black;
}
.head_title {
    display: inline-block;
    height: 150px;
    text-transform: uppercase;
    text-align: left;
    padding: 30px;
    vertical-align: middle;
}
.main_content{
    height: 600px;
    width: 100%;
    overflow: hidden;
}
.menu{
    display: inline-block;
    float: left;
    width: 250px;
    height: 100%;
    border: 2px solid black;
}
.menu ul{
    margin: 0px;
    padding: 0px;
    background-color: rgb(182, 215, 168);
    z-index: 10;
}
.menu ul li{
    margin: -2px;
    list-style-type: none;
    border: 2px solid green;
    height: 25px;
    padding: 10px;
    text-align: left;
}
.menu a{
    text-decoration: none;
    color: black;
}
.main_part{

    height: 600px;
    border: 1px solid black;
    margin-left: 250px;
}
.text-in-box1{
    padding-top: 45px;
}
.text-in-box2{
    padding-top: 45px;
    padding-left: 15px;
}
.main_box1{
    height: 400px;
    width: 100%;
    border: 2px solid black;
}
.main_box2{
    width: 100%;
    height: 200px;
    border: 2px solid black;
    text-align: center;
}
.block_type1{
    position: relative;
    width: 220px;
    height: 140px;
    background-color: #ead1dc;
    border: 2px solid black;
    text-align: center;
    margin: 20px;
}
.block_type1:nth-child(3):before{
    content: url("img/ribbon.png");
    position: absolute;
    top: 0px;
    left: -8px;
    width: 0px;
}
.block_type2{
    width: 29%;
    display: inline-block;
    height: 170px;
    background-color: #ead1dc;
    border: 2px solid black;
    margin: 10px;
    text-align: left;
}
.box1-flex1{
    display: flex;
    justify-content: center;
    align-items: center;
}.box1-flex2{
     display: flex;
     justify-content: center;
 }
.bottom{
    width: 100%;
    height: 70px;
    border: 2px solid black;
    background-color: #fff0c2;
}
.bottom div:nth-child(3){
    border-right: none;
}
.footer{
    width: 100%;
    height: 45px;
    border: 2px solid black;
}
.block_type3{
    width: 33%;
    display: inline-block;
    height: 100%;
    border: 1px solid black;
    float: left;
    text-align: center;
    line-height: 64px;
    /* overflow: hidden; */
}.block_type4{
     width: 100%;
     height: 100%;
     border: 1px solid black;
     text-align: center;
     line-height: 44px;
 }
